
bin/debug/renderer.exe
bin/debug/renderer.ilk
bin/debug/renderer.pdb
build/debug/d3d9.obj
build/debug/drawlist.obj
build/debug/main.obj
build/debug/renderer.exe.recipe
build/debug/renderer.log
build/debug/renderer.obj
build/debug/renderer.tlog/CL.command.1.tlog
build/debug/renderer.tlog/CL.read.1.tlog
build/debug/renderer.tlog/CL.write.1.tlog
build/debug/renderer.tlog/link.command.1.tlog
build/debug/renderer.tlog/link.read.1.tlog
build/debug/renderer.tlog/link.write.1.tlog
build/debug/renderer.tlog/renderer.lastbuildstate
build/debug/vc142.idb
build/debug/vc142.pdb
bin/debug/renderer.exe
bin/debug/renderer.ilk
bin/debug/renderer.pdb
build/debug/d3d9.obj
build/debug/drawlist.obj
build/debug/main.obj
build/debug/renderer.exe.recipe
build/debug/renderer.log
build/debug/renderer.obj
build/debug/renderer.tlog/CL.command.1.tlog
build/debug/renderer.tlog/CL.read.1.tlog
build/debug/renderer.tlog/CL.write.1.tlog
build/debug/renderer.tlog/link.command.1.tlog
build/debug/renderer.tlog/link.read.1.tlog
build/debug/renderer.tlog/link.write.1.tlog
build/debug/renderer.tlog/renderer.lastbuildstate
build/debug/vc142.idb
build/debug/vc142.pdb
